# macOS specific files
.DS_Store
Thumbs.db
desktop.ini

# Xcode / iOS
ios/Pods/
ios/build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android / IntelliJ
android/.gradle/
android/app/build/
.gradle
local.properties
*.iml
.cxx/
*.keystore
!debug.keystore

# Node.js & React Native
node_modules/
npm-debug.log*
yarn-error.log*
dist/
build/
.metro-health-check*

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# React Native bundle
*.jsbundle

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Ruby / CocoaPods
**/Pods/
vendor/bundle/

# Testing
/coverage

# Sensitive files
.env
.env.*
config/*.json

# IDE configurations
.idea/
.vscode/
*.xcworkspace/
*.xcodeproj/

# Backend
backend/data/*.db
backend/logs/
backend/debug.log
backend/.env
backend/.DS_Store
